:root {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
  font-size: 13px;
  color: #d4d4d4;
  background-color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}

/* Split Layout 50/50 */
.split-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.panel-left {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.panel-right {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #3e3e42;
}
